.root { background-color: #141414;}
body {background-color: #141414;}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  background-color: #343a40;
  height:auto;
}

nav .navbar-nav li a{
  color: white !important;
  background-color: #343a40;
  height:auto;
}

.nav-item {
  color: white !important;
}

.navbar-nav > .nav-item{
  margin-left: 15px;
  margin-right: 15px;
}

.searchint {
  margin-left: 15px;
}


table, thead, th {
  border:1px solid white;
}
th {
color:white;
font-size:10pt;
}

.blocktable {
  border-radius: 6px;
  border-color: red;
  background: #343a40;
  margin-bottom: 25px;
  width: 95%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-radius: 6px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-color: red;
  text-align:justify;
}

.paragraph {
  background-color: #2b3035;
}