
/*======================
    404 page
=======================*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Unbounded&display=swap');

.page_404{ padding:40px 0; background:#fff; font-family: 'Source Sans Pro', sans-serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 350px;
    text-align: justify;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #23621e;
    margin: 20px 0;
    text-decoration: none;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}